{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <a href="{{ path('index_product') }}" class="btn btn-primary">Manage Product</a>
        <a href="{{ path('index_category') }}" class="btn btn-primary">Manage Category</a>
    </div>

{% endblock %}