{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
    
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="form-group">
                <div class="text-center mb-5">
                    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
                    <p>Don't have an account ? <a href="{{path('app_register')}}">Sign in</a></p>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" name="email" id="inputEmail" placeholder="name@example.com" autocomplete="email" required autofocus>
                    <label for="inputEmail">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" autocomplete="current-password" required>
                    <label for="inputPassword">Password</label>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </div>
            
            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <div class="btnFormAccount">
                <div class="btnFormFirst mt-3">
                    <button class="btn btn-lg btn-success btnSignIn" type="submit"> Sign in </button>
                    {% if not app.user %}
                        <a href="{{path('app_forgot_password_request')}}" class="btn btn-lg btn-danger btnForgotPass">Forgot Password</a>
                    {% endif %}
                </div>
            </div>
        </form>

    </div>
{% endblock %}
