{% extends 'base.html.twig' %}

{% block body %}

    <div class="container containerAdmin">
        <div class="btnsAdmin me-2 imgProduct">
            <a href="{{ path('index_product') }}" class="textDecoNone btnAdmin">Product</a>
            <img src="/img/products.jpg" alt="" class="opacityImg">
        </div>
        <div class="btnsAdmin ms-2 imgCategory">
            <a href="{{ path('index_category') }}" class="textDecoNone btnAdmin ">Category</a>
            <img src="/img/category.jpg" alt="" class="opacityImg">
        </div>
    </div>

{% endblock %}