{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1 class="text-center mb-3"> Supprimer la catégorie : {{ category.name }}</h1>

        <div class="row">
            <div class="col">
                <h4>Name :</h4>
                <p>{{category.name}}</p>
            </div>
        </div>
        <a href="{{ path('remove_category', {'id' : category.id}) }}" class="btn btn-danger deleteButton">Delete</a>
    </div>

{% endblock %}