body {
    background-color: rgb(255, 255, 255);
}
/* NAVBAR */
nav {
    background-color: #45637d;
}
/* !NAVBAR */

/* GMAP FOOTER */
footer {
    background-color: #45637d;
}

.mapouter {
    position:relative;
    text-align:right;
    height:400px;
    width:500px;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:400px;
    width:500px;
}
/* !GMAP FOOTER */