body {
    background-color: rgb(255, 255, 255);
}
/* NAVBAR */
.firstW{
    color: blue;
}
.thirdW{
    color: red;
}
/* !NAVBAR */
/* HOME */

.mainContainerMid{
    padding: 2%;
}
.mainContainerRight {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    border: 1px solid;
    border-radius: 1%;

    padding: 0%;
    padding-top: 2%;
}

.quantityCartHome {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn-sm {
    height: 25px;
    
}
.btnCart {
    display: flex;
    justify-content: center;
    width: 100%;
}
.quantity-cart-home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    
}

/* !HOME */
/*ACCOUNT*/

.btnFormAccount{
    display: flex;
    flex-direction: column;
}
.btnSignIn{
    width: 70%;
}
.btnForgotPass{
    width: 25%;
}
.btnCreateAccount{
    text-decoration: none;
    font-size: 25px;
}
.btnFormFirst{
    display: flex;
    justify-content: space-between;
}

/*!ACCOUNT*/
/*ADMIN*/
    /*index*/
.mainContainerAdmin{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.duoContainerAdmin{
    display: flex;
    flex-direction: row;
}
.singleContainerAdmin{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: 450px;
}
.btnAdmin{
    position: relative;
    z-index: 2;
    font-size: 40px;
    color: rgb(0, 0, 0);
}
.imgAdmin{
    position: absolute;
    opacity: 0.65;
}
.btnAdmin:hover ~ .imgAdmin{
    transition-duration : 1s;
    opacity: 0.3;
}

    /*product*/
.containerManage{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.btnProduct {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 33%;
    width: 100%;
}
.oneBtn{
    font-size: 25px;
    flex-grow: 1;
    
    display: flex;
    align-items: center;
}
    /*stock*/
.rowProduct {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.stockProduct{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/*!ADMIN*/
/* GMAP FOOTER */

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
  .container {
    flex: 1 0 auto;
}
  footer {
    flex-shrink: 0;
}

.mapouter {
    position:relative;
    text-align:right;
    height:400px;
    width:500px;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:400px;
    width:500px;
}
/* !GMAP FOOTER */

@media screen and (min-width: 992px) { /* ONLY FOR NAVBAR */
    .mainNavDiv :nth-child(1) { order: 1; }
    .mainNavDiv :nth-child(2) { order: 2; }
    .mainNavDiv :nth-child(3) { order: 4; }
    .mainNavDiv :nth-child(4) {
        order: 3;
        justify-content: center;
    }
    .navNav{margin-right: 7rem;}
    .navItemOrder1{ order: 1; }
    .navItemOrder2{ order: 2; }
    .navItemOrder3{ order: 3; }
    .navItemOrder4{ order: 4; }
    .navItemOrder5{ order: 5; }
}