body {
    background-color: rgb(255, 255, 255);
}
/* NAVBAR */

/* !NAVBAR */
/* HOME */

.mainContainerLeft{
    padding: 2%;
}
.mainContainerRight {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    border: 1px solid;
    border-radius: 1%;

    padding: 0%;
    padding-top: 2%;
}

.quantityCartHome {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn-sm {
    height: 25px;
    
}
/* !HOME */
/*ACCOUNT*/

.btnFormAccount{
    display: flex;
    flex-direction: column;
}
.btnSignIn{
    width: 70%;
}
.btnForgotPass{
    width: 25%;
}
.btnCreateAccount{
    text-decoration: none;
    font-size: 25px;
}
.btnFormFirst{
    display: flex;
    justify-content: space-between;
}

/*!ACCOUNT*/
/* GMAP FOOTER */

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
  .container {
    flex: 1 0 auto;
}
  footer {
    flex-shrink: 0;
}

.mapouter {
    position:relative;
    text-align:right;
    height:400px;
    width:500px;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:400px;
    width:500px;
}
/* !GMAP FOOTER */
