.categoryProducts{
    text-decoration: none;
    color: rgb(255, 83, 83);
}
.boldProductName{
    font-weight: bold;
}
.itemCard img{
    width: 22px;
    height: 22px;
}

.inputUpdate {
    width: 50px;
}
.nav-item {
    font-size: 20px;
}
.container {
    padding-top: 60px;
}
