.categoryProducts{
    text-decoration: none;
}
.boldProductName{
    font-weight: bold;
}
.tokenImg{
    width: 32px;
    height: 32px;
}

.inputUpdate {
    width: 50px;
}
.nav-item {
    font-size: 20px;
}
.container {
    padding-top: 60px;
}
.textDecoNone{
    text-decoration: none;
}
.imgCardLeft {
    background-color: rgb(95, 83, 255);
    border-radius: 50% 0% 0% 50%;
}
.imgCardRight {
    background-color: rgb(95, 83, 255);
    border-radius: 0% 50% 50% 0%;
}
.quantityCard {
    border-top: 1px solid;
    border-bottom: 1px solid;
}