{% extends 'base.html.twig' %}

{% block body %}
        
    <div class="container">
        
        {% if items | length > 0 %}
        
            <table class="table js-filter-content-cart">
                {% include 'elements/cartPage/cart.html.twig' %}
            </table>

        {% else %}
            <h1>Empty bag</h1>
        {% endif %}

    </div>

{% endblock %}