{% extends 'base.html.twig' %}
{% block body %}
<body class="homepage">
    


    <div class="container">
        <div class="topContainer text-center">
            <div class="mt-5 logoTop">
                <img src="https://via.placeholder.com/250x250" alt="" style="border-radius : 50%">
            </div>

            <div class="jumbotron jumbotron-fluid mt-5">
                <h1 class="display-4">Page Home</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                <hr class="my-5">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="mainContainer row mb-5">

            <div class="mainContainerLeft col-md-3 js-filter-category">
                <div class="showCategory text-center column">
                    <h3 class="mb-5">Categories</h3>
                    <div class="col-sm mb-3">
                        <a href="{{ path('homepage') }}" class="categoryProducts boldProductName">All products</a>
                    </div>
                    {% for category in categories %}
                        <div class="col-sm mb-3">
                            <a href="{{ path('show_category', { 'slug' : category.name } ) }}" class="categoryProducts boldProductName">{{ category.name }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="mainContainerMid col-md-6 js-filter-content">
                {% include 'elements/product.html.twig' %}
            </div>

            <div class="mainContainerRight col-md-3 js-filter-cart">
                {% include 'elements/cart.html.twig' %}
            </div>
            
        </div>

    </div>


</body>
{% endblock %}
